<!DOCTYPE html>
<html lang="ja">
    $partial("includes/head.html")$
    <body>
        $partial("includes/svg-icons.html")$
        $partial("includes/header-post.html")$
        $partial("includes/tree-posts.html")$
        <section class="post" itemscope itemtype="http://schema.org/WebPage">

            <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
                $body$
            </article>
            $partial("includes/scripts.html")$
        </section>
    </body>
</html>
